Buisness Problem: to Identify the potential candidates whom they can offer job (to process further for interview).

In [1]:
#load some library
import pandas as pd 
import numpy as np

In [2]:
#read file
sample = pd.read_csv('sample.csv')

In [3]:
# first five 
sample.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Other skills,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,0,0,R Programming,Bachelor of Science (B.Sc),Mathematics,2017,NaN,NaN,NaN,NaN
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,0,0,"Data Science, Machine Learning, Neural Network...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,NaN,85.50/100,92.20/92.20,96.60/96.60
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,0,0,"Algorithms, Data Structures, Python, C Program...",Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,0,0,"CSS, Deep Learning, Embedded Systems, HTML, Ma...",Bachelor of Engineering (B.E),Electronics and Communication,2019,NaN,6.86/10,76.00/76.00,84.32/84.32
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,2,2,"HTML, OpenCV, Python, SQL, C++ Programming, CS...",Bachelor of Technology (B.Tech),Production Engineering,2018,NaN,6.38/10,65.20/65.20,68.80/68.80

In [4]:
# columns 
sample.columns

Index(['Application_ID', 'Current City', 'Python (out of 3)',
       'R Programming (out of 3)', 'Deep Learning (out of 3)',
       'PHP (out of 3)', 'MySQL (out of 3)', 'HTML (out of 3)',
       'CSS (out of 3)', 'JavaScript (out of 3)', 'AJAX (out of 3)',
       'Bootstrap (out of 3)', 'MongoDB (out of 3)', 'Node.js (out of 3)',
       'ReactJS (out of 3)', 'Other skills', 'Degree', 'Stream',
       'Current Year Of Graduation', 'Performance_PG', 'Performance_UG',
       'Performance_12', 'Performance_10'],
      dtype='object')

In [5]:
# Dimension
sample.shape

(392, 23)

In [6]:
#Percentage of skills
sample['Other skills'].value_counts()/len('sample')

Data Analytics, Machine Learning, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         0.666667
MS-Word, C Programming, CSS, Embedded Systems, HTML, JavaScript, MS-Excel, MS-Office, MS-PowerPoint, ReactJS                                                                                                                                                                                                                                                                                                                                                                                                                                                     0.666667
Android, Java                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0.666667
CSS, HTML, Python, SQL, JavaScript                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               0.500000
C Programming, Java, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0.500000
Machine Learning, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         0.500000
C Programming, CSS, Database Management System (DBMS), HTML, Java, SQL, XML                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0.500000
HTML, Android, C Programming, C++ Programming, CSS, Java, PHP, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0.500000
Android, JavaScript, Java                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        0.333333
Bootstrap, CSS, HTML, Angular 7.0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                0.333333
C Programming, C++ Programming, CSS, Data Structures, HTML, Hibernate (Java), Java, JavaScript, MySQL, PHP, Spring MVC                                                                                                                                                                                                                                                                                                                                                                                                                                           0.333333
SQL, Search Engine Optimization (SEO), UI & UX Design, User Interface (UI) Development, Visual Basic (VB), Adobe Dreamweaver, Amazon Web Services (AWS), C#.NET, CSS, Creative Writing, Eclipse (IDE), English Proficiency (Spoken), English Proficiency (Written), HTML, Hindi Proficiency (Written), JSP, MS SQL Server, MS-Excel, MS-Office, Magento, MySQL, Python, Servlets, Teaching, WordPress, AJAX, ASP.NET, Android, AngularJS, Bootstrap, C++ Programming, Data Structures, Django, Java, JavaScript, Machine Learning, NoSQL, SQLite, XML, jQuery    0.333333
CSS, HTML, JavaScript, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0.333333
C Programming, HTML, MS-Office, MS-PowerPoint, Python, CSS, Django                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               0.333333
C Programming, C++ Programming, HTML, MySQL, .NET, Bootstrap, CSS, Data Structures, Java, JavaScript, Node.js, PHP, Python, Visual Basic (VB)                                                                                                                                                                                                                                                                                                                                                                                                                    0.333333
Java, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0.333333
Android, C Programming, C++ Programming, Python, User Interface (UI) Development                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0.333333
Adobe Photoshop, C Programming, C++ Programming, CSS, Computer Networking, Data Structures, Database Management System (DBMS), HTML, Java, JavaScript, Linux, MS SQL Server, MS-Office, MS-PowerPoint, MS-Word, Microsoft Visual Studio, PHP, SQL, Swing (Java), Visual Basic (VB), Perl                                                                                                                                                                                                                                                                         0.333333
HTML, Java                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       0.333333
C Programming, Android, Angular 7.0, C++ Programming, CSS, HTML, J2EE, Java, SQL, Django, JavaScript, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                     0.333333
C Programming, Android, Java, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             0.333333
Database Management System (DBMS), HTML, Python, SQL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             0.333333
Android, C Programming, C++ Programming, Java, MS-Office, MS-PowerPoint, Python                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  0.333333
C Programming, CSS, HTML, JavaScript, PHP                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        0.333333
Embedded Systems, C Programming, Internet of Things (IoT), Python, Java                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          0.333333
C Programming, C++ Programming, Java, PHP, Python, MySQL, NoSQL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  0.333333
HTML, Java, JavaScript, ASP.NET, Android, C#.NET                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0.333333
Bootstrap, PHP, Python, CSS, HTML, Java                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          0.333333
Android, Bootstrap, C Programming, CSS, Database Management System (DBMS), HTML, Java, JavaScript, Linux, MS-Office, MySQL, PHP, React Native, SQL, C++ Programming, GitHub, LARAVEL, MATLAB, Python                                                                                                                                                                                                                                                                                                                                                             0.333333
CSS, Cloud Computing, HTML, PHP, Python, Android, JavaScript                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0.333333
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   ...
Python, SQL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0.166667
Data Analytics, Machine Learning, Python, C Programming, C++ Programming, Database Management System (DBMS), Deep Learning, MS-Excel, MySQL, Natural Language Processing (NLP), Neural Networks, R Programming, Statistical Modeling                                                                                                                                                                                                                                                                                                                             0.166667
BIG DATA ANALYTICS, Data Analytics, Database Management System (DBMS), Linux, Machine Learning, Python, R Programming, SQL, Java                                                                                                                                                                                                                                                                                                                                                                                                                                 0.166667
Android, C++ Programming, Java, Python, Machine Learning, Natural Language Processing (NLP), SQL                                                                                                                                                                                                                                                                                                                                                                                                                                                                 0.166667
Data Analytics, MS-Office, MS-Excel, Machine Learning, Neural Networks, Python, Statistical Modeling, Adobe Photoshop, Deep Learning, SQL                                                                                                                                                                                                                                                                                                                                                                                                                        0.166667

In [7]:
# Describe of mean median max min values 
sample.describe()

,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3),Current Year Of Graduation
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,1.375000,0.566327,0.461735,0.612245,0.403061,1.346939,1.045918,0.770408,0.015306,0.265306,0.035714,0.086735,0.178571,2018.867347
std,0.975237,0.905052,0.842336,0.911789,0.837602,1.071386,1.022976,0.966626,0.122924,0.715928,0.255377,0.401567,0.499360,2.280296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2004.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.750000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2019.000000
75%,2.000000,1.000000,1.000000,1.000000,0.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2020.000000
max,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2023.000000

In [8]:
#Checking is there na values 
sample.isna().sum()

Application_ID                  0
Current City                    0
Python (out of 3)               0
R Programming (out of 3)        0
Deep Learning (out of 3)        0
PHP (out of 3)                  0
MySQL (out of 3)                0
HTML (out of 3)                 0
CSS (out of 3)                  0
JavaScript (out of 3)           0
AJAX (out of 3)                 0
Bootstrap (out of 3)            0
MongoDB (out of 3)              0
Node.js (out of 3)              0
ReactJS (out of 3)              0
Other skills                   14
Degree                         12
Stream                         18
Current Year Of Graduation      0
Performance_PG                289
Performance_UG                 54
Performance_12                163
Performance_10                177
dtype: int64

In [9]:
sample.info() # Data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 23 columns):
Application_ID                392 non-null object
Current City                  392 non-null object
Python (out of 3)             392 non-null int64
R Programming (out of 3)      392 non-null int64
Deep Learning (out of 3)      392 non-null int64
PHP (out of 3)                392 non-null int64
MySQL (out of 3)              392 non-null int64
HTML (out of 3)               392 non-null int64
CSS (out of 3)                392 non-null int64
JavaScript (out of 3)         392 non-null int64
AJAX (out of 3)               392 non-null int64
Bootstrap (out of 3)          392 non-null int64
MongoDB (out of 3)            392 non-null int64
Node.js (out of 3)            392 non-null int64
ReactJS (out of 3)            392 non-null int64
Other skills                  378 non-null object
Degree                        380 non-null object
Stream                        374 non-null object
Current Year Of Graduation    392 non-null int64
Performance_PG                103 non-null object
Performance_UG                338 non-null object
Performance_12                229 non-null object
Performance_10                215 non-null object
dtypes: int64(14), object(9)
memory usage: 70.5+ KB

In [10]:
df = sample.copy() # Make a copy of a data

In [11]:
# function to remove backslash , And Percent total
def clean_marks_cloumn(x):
  
    [y1,y2]=x.split('/')
    
    return((np.float(y1)/np.float(y2))*100)

In [12]:
# Group of Data science Profiles
df['DS_Profile']=df['Other skills'].str.contains('Machine Learning') | df['Other skills'].str.contains('Data Science')| df['Other skills'].str.contains('Natural Language Processing (NLP)') | df['Other skills'].str.contains('Data Analytics') | df['Other skills'].str.contains('Deep Learning') | df['Other skills'].str.contains('Big data') | df['Other skills'].str.contains('R Programming')   
df['DS_Profile']=df['DS_Profile'].map({True:1,False:0})

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [13]:
# Group of Web Devlopement Profiles
df['WD_Profile']=df['Other skills'].str.contains('HTML') | df['Other skills'].str.contains('CSS') |  df['Other skills'].str.contains('JavaScript') | df['Other skills'].str.contains('AJAX') | df['Other skills'].str.contains('Bootstrap') | df['Other skills'].str.contains('MongoDB') | df['Other skills'].str.contains('reactjs') | df['Other skills'].str.contains('nodejs')  
df['WD_Profile']=df['WD_Profile'].map({True:2,False:0})

In [14]:
df.head()# Check

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Other skills,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,DS_Profile,WD_Profile
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,R Programming,Bachelor of Science (B.Sc),Mathematics,2017,NaN,NaN,NaN,NaN,1,0
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,"Data Science, Machine Learning, Neural Network...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,NaN,85.50/100,92.20/92.20,96.60/96.60,1,0
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,"Algorithms, Data Structures, Python, C Program...",Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60,1,2
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,"CSS, Deep Learning, Embedded Systems, HTML, Ma...",Bachelor of Engineering (B.E),Electronics and Communication,2019,NaN,6.86/10,76.00/76.00,84.32/84.32,1,2
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,"HTML, OpenCV, Python, SQL, C++ Programming, CS...",Bachelor of Technology (B.Tech),Production Engineering,2018,NaN,6.38/10,65.20/65.20,68.80/68.80,0,2

In [15]:
df.describe() # max min,mean

,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3),Current Year Of Graduation,DS_Profile,WD_Profile
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,1.375000,0.566327,0.461735,0.612245,0.403061,1.346939,1.045918,0.770408,0.015306,0.265306,0.035714,0.086735,0.178571,2018.867347,0.510204,0.841837
std,0.975237,0.905052,0.842336,0.911789,0.837602,1.071386,1.022976,0.966626,0.122924,0.715928,0.255377,0.401567,0.499360,2.280296,0.500535,0.988675
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2004.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2018.750000,0.000000,0.000000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2019.000000,1.000000,0.000000
75%,2.000000,1.000000,1.000000,1.000000,0.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2020.000000,1.000000,2.000000
max,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2023.000000,1.000000,2.000000

In [16]:
df['Performance_PG']=df[['Performance_PG']].dropna().applymap(clean_marks_cloumn)
df['Performance_PG'].fillna(value=0,inplace=True)

In [17]:
df[['Performance_10','Performance_12','Performance_UG']] = df[['Performance_10','Performance_12','Performance_UG']].dropna().applymap(clean_marks_cloumn)
df[['Performance_10','Performance_12','Performance_UG']].fillna(value=0,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [18]:
df=df.fillna(0)

In [19]:
df.columns

Index(['Application_ID', 'Current City', 'Python (out of 3)',
       'R Programming (out of 3)', 'Deep Learning (out of 3)',
       'PHP (out of 3)', 'MySQL (out of 3)', 'HTML (out of 3)',
       'CSS (out of 3)', 'JavaScript (out of 3)', 'AJAX (out of 3)',
       'Bootstrap (out of 3)', 'MongoDB (out of 3)', 'Node.js (out of 3)',
       'ReactJS (out of 3)', 'Other skills', 'Degree', 'Stream',
       'Current Year Of Graduation', 'Performance_PG', 'Performance_UG',
       'Performance_12', 'Performance_10', 'DS_Profile', 'WD_Profile'],
      dtype='object')

In [20]:
df["Profile"]=df["DS_Profile"]+df["WD_Profile"]
df["Profile"]=df["Profile"].map({1:"Data Scientist",2:"Web Developement",3:"Considered for both Data Scientist and Web Developement"})

In [21]:
df.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10,DS_Profile,WD_Profile,Profile
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,Bachelor of Science (B.Sc),Mathematics,2017,0.0,0.0,0.0,0.0,1,0,Data Scientist
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,0.0,85.5,100.0,100.0,1,0,Data Scientist
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,Master of Science (M.Sc),Computer Science,2018,79.1,70.0,100.0,100.0,1,2,Considered for both Data Scientist and Web Dev...
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,Bachelor of Engineering (B.E),Electronics and Communication,2019,0.0,68.6,100.0,100.0,1,2,Considered for both Data Scientist and Web Dev...
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,Bachelor of Technology (B.Tech),Production Engineering,2018,0.0,63.8,100.0,100.0,0,2,Web Developement

In [24]:
from sklearn.preprocessing import StandardScaler
sc_values=StandardScaler()
df.iloc[:,2:15]=sc_values.fit_transform(df.iloc[:,2:15])


sc_marks=StandardScaler()
df.iloc[:,19:23]=sc_marks.fit_transform(df.iloc[:,19:23])

In [41]:
df["Scores"]=0

In [36]:
for index,rows in df.iterrows():
    score=0
    if(rows[1]=='Bangalore' or rows[20]=='2019'):
        
        score=10+rows[2]+rows[3]+rows[4]+rows[5]+rows[6]+rows[7]+rows[8]+rows[9]+rows[10]+rows[11]+rows[12]+rows[13]+rows[14]+rows[19]+10+rows[21]+rows[22]
       
    else:
        score=rows[2]+rows[3]+rows[4]+rows[5]+rows[6]+rows[7]+rows[8]+rows[9]+rows[10]+rows[11]+rows[12]+rows[13]+rows[14]+rows[19]+rows[20]+rows[21]+rows[22]
       
    df.iloc[index,-1] =score

In [44]:
df["Profile"]=df["DS_Profile"]+df["WD_Profile"]
df["Profile"]=df["Profile"].map({1:"Data Scientist",2:"Web Developement",3:"Considered for both Data Scientist and Web Developement"})
out_df=df[["Application_ID","Profile","Scores"]]
out_df.sort_values("Scores",ascending=False,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [45]:
out_df

    Application_ID                                            Profile  Scores
0           ML0001                                     Data Scientist       0
269         ML0270                                   Web Developement       0
267         ML0268                                   Web Developement       0
266         ML0267                                   Web Developement       0
265         ML0266                                                NaN       0
264         ML0265                                                NaN       0
263         ML0264                                                NaN       0
262         ML0263                                   Web Developement       0
261         ML0262                                   Web Developement       0
260         ML0261                                                NaN       0
259         ML0260                                                NaN       0
258         ML0259                                   Web Developement       0
257         ML0258                                   Web Developement       0
256         ML0257                                   Web Developement       0
255         ML0256                                     Data Scientist       0
254         ML0255                                   Web Developement       0
253         ML0254                                   Web Developement       0
252         ML0253                                   Web Developement       0
251         ML0252                                   Web Developement       0
250         ML0251                                   Web Developement       0
249         ML0250                                   Web Developement       0
248         ML0249  Considered for both Data Scientist and Web Dev...       0
247         ML0248                                                NaN       0
268         ML0269                                   Web Developement       0
270         ML0271                                                NaN       0
1           ML0002                                     Data Scientist       0
271         ML0272                                   Web Developement       0
292         ML0293  Considered for both Data Scientist and Web Dev...       0
291         ML0292                                   Web Developement       0
290         ML0291                                   Web Developement       0
..             ...                                                ...     ...
104         ML0105                                                NaN       0
103         ML0104  Considered for both Data Scientist and Web Dev...       0
102         ML0103                                                NaN       0
101         ML0102                                     Data Scientist       0
100         ML0101                                     Data Scientist       0
121         ML0122                                     Data Scientist       0
122         ML0123                                     Data Scientist       0
123         ML0124                                     Data Scientist       0
135         ML0136                                     Data Scientist       0
144         ML0145  Considered for both Data Scientist and Web Dev...       0
143         ML0144                                     Data Scientist       0
142         ML0143  Considered for both Data Scientist and Web Dev...       0
141         ML0142                                     Data Scientist       0
140         ML0141                                     Data Scientist       0
139         ML0140                                     Data Scientist       0
138         ML0139  Considered for both Data Scientist and Web Dev...       0
137         ML0138                                     Data Scientist       0
136         ML0137                                     Data Scientist       0
134         ML0135                                     Data Scientist       0
124         ML0125                                     Data Scientist       0
133         ML0134                                     Data Scientist       0
132         ML0133                                     Data Scientist       0
131         ML0132                                     Data Scientist       0
130         ML0131  Considered for both Data Scientist and Web Dev...       0
129         ML0130                                     Data Scientist       0
128         ML0129                                     Data Scientist       0
127         ML0128                                     Data Scientist       0
126         ML0127                                     Data Scientist       0
125         ML0126                                     Data Scientist       0
391         ML0392                                   Web Developement       0

[392 rows x 3 columns]